// this is our generic vertical navigation bar as used throughout the site
// assume that we inject this inside of a ul element
// this will make it easier to expand and set widths etc
$text-padding: 0.1em
@mixin vertical_nav($top : 0.2em, $padding-top: $text-padding, $padding-right: $text-padding, $padding-bottom: $text-padding, $padding-left: $text-padding)	
		
	> li			

		margin-top: $top
		width: 100%		
		// generate our padding by analyzing passed in values etc
		padding: $padding-top $padding-right $padding-bottom $padding-left


@mixin horizontal_nav($elements)	
	
	width: 100%	
	position: relative
	@include clearfix
	> li

		float: left
		width: 100%/$elements
		position: relative
		text-align: center
		border-right: 1px solid black
		border-bottom: 1px solid black
		font-size: 1em

		> a

			height: 100%
			width: 100%

		&:last-of-type
		
			border-right: none	

// mixin pull out for li's with dropdown elements
// 
@mixin dropdown
	
	> ul
		position: absolute
		display: none

	&:hover

		> ul
			display: block

			// sample animation call!
			// @include animation-basic((bounceIn, fadeIn), (1.25s, 1.25s), (ease, ease))


// this is primarily used for the 
// also controls how far to move to the left etc
// assumes that we are calling this from an li element
@mixin dropout($height, $width, $margin, $elements, $left : 0)
	
	// height: auto
	> ul
		position: relative
		// top: $height
		left: $left
		@include inline-block
		@include clearfix
		height: $height 
		// override this later if relative to percentages etc
		$container-width: container-outer-width($desktop-columns)
		// @include container
		@include span-columns(12)	
		background-color: red 
		// width: container-outer-width($desktop-columns)
		// width: $elements *($width+$margin)

		> li

			display: none
			position: relative
			height: $height
			width: $width
			margin-left: $margin
			float: left
			background-color: rgba(255,255,255,0.5)

			&:first-of-type
				margin-left: 0em
			
// hard code in sports background images etc here
@mixin sports_nav($height, $width)

	// do stuff to make these look good
	height: $height
	width: $width








