#experience

	%div 
		%h1= "Relevant Experience"

	%div

		%div

			%h2= "OpenOffer"
			%p

				Worked as a full stack engineer. Responsible for data integrity, scaling, server administration and new feature implementation. Worked primarily in PHP, Javascript and HTML. Implemented a social networking feature which linked popular apis with RSS feeds through the PUSH protocols. 

			%p 
				March 2012 - August 2012		

		%div

			%h2= "USC Institute of Multimedia Literacy"
			%p
				Work as a lab technician and tutor. Assist students with multimedia projects involving graphic / film editing as well as basic web application programming. Assisted faculty with web application programming.

			%p 

				August 2011 - Current

		%div

			%h2= "Freelance Software Engineering / Consulting"
			%p

				Currently taking on projects as a freelance web engineer. Have assisted and consulted several new startups launching in the USC community. Help optimize and make minor changes on web sites by contract.

			%p

				August 2012 - Current


