#header
	
	%h1= "Jon Morehouse"

	%h2= "<span>S</span>tudent-<span>H</span>acker-<span>E</span>ngineer"

	%ul

		%li
			%a{:href=>"http://github.com/MorehouseJ09"}
				%img{:src=>"../images/logos/github.png"}

		%li
			%a{:href=>"http://twitter.com/JonMorehouse"}
				%img{:src=>"../images/logos/twitter.png"}

		%li
			%a{:href=>"http://www.linkedin.com/in/morehousej09"}
				%img{:src=>"../images/logos/linkedin.png"}




