#overview
	
	%div 

		%h1= "Overview"

	%div 

		%p
			Currently a junior Computer Engineering Computer Science major at USC. I'm a professional software engineer and enjoy working with a multitude of different technologies / languages while elegantly solving problems. I have a strong engineering background that I apply to problems solvable with code.

		%p
			I work on anything from 1's and 0's to high-level web application programming. I currently enjoy working with Ruby on Rails, Node.js, Backbone.js and Coffeescript to build web and mobile applications. I'm interested in applying Machine Learning and Natural Language Processing principles to large data sets to help users find online content. My favorite programming tools include Ruby, Python, Javascript, GoLang, Tmux and Vim.

			