%header 

	#main= render_navigation(:context => :main, :level => 1..3, :expand_all => true)

	/ #social= render_navigation(:context => :social)

	/ #interaction= render_navigation(:context => :interaction)

/ other header elements go here! ... google analytics or a nerdy message anyone?