%div
	/ top navigation element for structure
	%div

		/ initialize thumbnail image etc for this project
		/ = image_tag tile.thumbnail

		%h1= tile.title	
			

	/ second div is shown upon hover
	%div 		

		%p= tile.content
		%h1= tile.title


