@import "config/base"

// idea is that all partials have the proper mixins loaded in before hand so that we don't need to multiple include dependencies etc 
// include other elements here....
#header
	
	width: 100%
	position: relative
	@include header_font
	overflow-y: auto
	padding: 1em 0 1em 0

	> h1

		width: 100%
		position: relative
		text-align: center
		display: block

#sidebar

	@include pre(0.5)
	@include span-columns(2,12)
	background-color: orange
	height: 10em

#shop
	
	display: none
	@include span-columns(8, 12)
	@include clearfix
	@include container

	> div

		@include span-columns(2.8, 12)
		height: 9em
		background-color: gray
		margin-bottom: 1em

		> a 

			position: relative
			width: 100%
			height: 100%

			> img

				height: 100%
				width: 100%



