#gallery
	
	%div	
		= image_tag "header.png"

	
	/ = render :partial => "partials/social_widget"

#about


	%h1= "speed. strength. power. endurance."

	/ for each of the tiles passed in render the home tile view
	- @tiles.each do |tile|

		= render :partial => "partials/home_tile", :locals => {:tile => tile}

/ temporarily render our bumpboxes section here
/ # = render :partial => "partials/social_bumpboxes"

#social_bumpbox{:"ng-controller" => "socialBumpbox"}

	%div{:"ng-view"=>""}	

		