#gallery
	
	%div	
		= image_tag "header.png"

#about


	%h1= "SPEED. STRENGTH. POWER. ENDURANCE."

	/ for each of the tiles passed in render the home tile view
	- @tiles.each do |tile|

		= render :partial => "partials/home_tile", :locals => {:tile => tile}

