// 
body
	
	// position: fixed
	// width: 100%	

	@include at-breakpoint($phone $phone-columns)

		$container-width: container-outer-width($phone-columns)
		@include container
		@include susy-grid-background	
		overflow-y: hidden
		overflow-x: hidden


	@include at-breakpoint($tablet $tablet-columns)

		$container-width: 100%
		@include container
		@include susy-grid-background	
		overflow-y: auto

	@include at-breakpoint($desktop $desktop-columns)

		@include container
		// @include susy-grid-background	
		overflow-y: auto

#content
	
	// lets make the gutter width a little smaller on mobile phones etc?
	@include at-breakpoint($phone $phone-columns)

		@include span-columns($phone-size)

	// include breakpoint for tablet / desktop
	@include at-breakpoint($tablet $tablet-columns)

		@include span-columns($tablet-columns)


// include some custom reset settings for my local elements / needs
body
		
	background: image-url("global_background.png")
	
	ul 
		list-style-type: none






