@import "../mixins/navigation"


// initialize basic responsive layouts and structure of navigation elements
header
	// general responsive layout etc
	background-color: orange

	@include at-breakpoint($phone $phone-columns)

		@include span-columns($phone-size)
		// comment out the following to make changing main navigation easier!
		// @include pull($phone-size - 1)

	// header doesn't necessarily need to be aligned to the grid
	// this is so that we can ensure that it stays across the entire top of the page
	// while our content is scaled properly on the rest of the page via our grid
	@include at-breakpoint($tablet $tablet-columns)	

		@include pull(0)
		@include span-columns($tablet-columns)


// set up phone piece first!
@include at-breakpoint($phone $phone-columns)
	
	header

		> div
			background-color: gray	

// set up browser etc elements
@include at-breakpoint($tablet $tablet-columns)

	header 

		$container-width: 100%
		@include container
		@include susy-grid-background

		// do some one off grid math to help with the drop down navigation system

		#main
			@include span-columns(6)

			ul
				// @include span-columns(12)
				// background-color: black
				> li
					position: relative
					@include span-columns(2.2)
					@include horizontal_dropdown	

					// store element goes here
					&:nth-of-type(2)

						> ul
							@include pull(13)
							
						$container-width: 100%
						@include container

						> li

							height: 2em
							@include span-columns(4)

					

		

						




