@import "../mixins/navigation"


// initialize basic responsive layouts and structure of navigation elements
header
	// general responsive layout etc
	background-color: orange

	@include at-breakpoint($phone $phone-columns)

		@include span-columns($phone-size)
		// comment out the following to make changing main navigation easier!
		// @include pull($phone-size - 1)

	// header doesn't necessarily need to be aligned to the grid
	// this is so that we can ensure that it stays across the entire top of the page
	// while our content is scaled properly on the rest of the page via our grid
	@include at-breakpoint($tablet $tablet-columns)	

		@include pull(0)
		@include span-columns($tablet-columns)


// set up phone piece first!
@include at-breakpoint($phone $phone-columns)
	
	header

		> div
			background-color: gray	

// set up browser etc elements
@include at-breakpoint($tablet $tablet-columns)

	header 

		@include clearfix
		padding: 0

		// generic navigation div pieces / items go here
		> div

			position: relative
			padding: 0
			margin: 0
			@include clearfix
			@include inline-block
			float: left

			// first level navigation -- this is what the user sees first!
			> ul	
				// lets apply the transition effects here!
				> li 
					// include the base dropdown mixin
					@include dropdown

	// main element
	#main

		// hard code in the width for desktop version etc
		width: 45%
		$elements: 5
		$element_width: 100%/$elements


		// initialize main navigation bar with primary plugin for horizontal navigation
		> ul
			@include horizontal_nav($elements)

			// custom li rules for individual pieces
			> li	
				// for the third dropdown list do some different stuff!
				&:nth-of-type(3)

					$sports_elements: 4
					// include our dropout piece
					@include dropout(5em, 5em, 1em, $sports_elements)

					> ul 
					// we want to make this third element a horizontal navigation etc 

						@include sports_nav(5em, 5em)
						// do custom elemental mixins etc
							
	#social	

		// 10% of page for each element?
		width: 30%

	#interaction

		width: 25%






	

					




