#gallery

	width: 100%
	position: relative

	// 	
	> div
		width: 100%

		@include clearfix

		> img

			width: 100%

// include spacing that is specific for the elements	
#about

	@include container
	margin-bottom: 10em

	> h1
		@include span-columns(12)
		margin: 1em 0 1em 0
		@include center
		@include header_font


	> div
		position: relative
		height: 10em
		@include span-columns(3, 12)

		&:first-of-type
			@include pre(1.5, 12)		

		@include hover-box

#follow, #gallery > #follow

	position: absolute
	width: 15em
	z-index: 20000
	@include clearfix
	bottom: 2em
	right: 4em
	background: image-url("medium_background.png")
	display: block

	// follow first round element etc
	> h1

		@include base_font
		@include dark_letter
		display: block
		// width: 100%
		text-align: center
		margin-bottom: 0.5em

	// 
	> div

		position: relative
		width: 40%
		float: left

		&:first-of-type

			margin-left: 10%


