// create a spread shadow on the bottom of an element
@mixin spread-border-shadow($side: "none")
	
	// box shadow looks like 
	// x offset y offset blur spread
	box-shadow: 0 1em 2em -1em $dark_gray




@mixin tight-border-shadow($top: false, $right: false, $bottom: false, $left: false)
	
	box-shadow: 0 0.2em 0.1em $dark_gray


// this is the main border etc for site usage etc
@mixin border-emboss($side: "top")
	
	// check if border == none
	@if $side == "none"

		border: 0px transparent
		
	@else

		// initialize the proper border etc
		border-#{$side}: 1px solid $light_gray
		border-#{$side}-width: 1px
		border-#{$side}-style: solid
		border-#{$side}-color: $light_gray








// assume that this is called within the context of a normal div
@mixin hover-box
	
	// initialize styles for both of the div children
	> div
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 0
		background-color: orange		

		> h1
			position: absolute
			top: 1em
			@include center

	&:hover
		
		> div	
		// 	// put in some sort of transition here

		> div:first-of-type

			display: none

		> div:last-of-type

			display: block

		cursor: pointer
		img 

			display: none
	
	> div:first-of-type	

		// this is the image and the corresponding small header etc
		display: block

		> img

			position: absolute
			height: 100%
			width: 100%


	// initialize styles for the content page that is shown when we hover!
	> div:last-of-type

		// this is the last image element etc
		display: none
		> h1

			position: relative

		> p
			position: relative
