// generic box-emboss
// example usage -- @include box-emboss(0.8, 0.05);
@mixin box-emboss($opacity, $opacity2)

	box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0

@mixin border-shadow($top: false, $right: false, $bottom: false, $left: false)
	
	@include border-emboss(false, false, true, false)
	box-shadow: 0 1em 2em $dark_letter_color
	

// this is the main border etc for site usage etc
@mixin border-emboss($top: false, $right: false, $bottom:false, $left:false)

	// include right 
	@if $right

		border-right: 1px solid rgba(0,0,0,0.2)
		border-right-width: 1px
		border-right-style: solid
		border-right-color: rgba(0,0,0,0.2)
	@if $left	

		border-left: 1px solid rgba(0,0,0,0.2)
		border-left-width: 1px
		border-left-style: solid
		border-left-color: rgba(0,0,0,0.2)

	@if $top	

		border-top: 1px solid rgba(0,0,0,0.2)
		border-top-width: 1px
		border-top-style: solid
		border-top-color: rgba(0,0,0,0.2)

	@if $bottom

		border-bottom: 1px solid rgba(0,0,0,0.2)
		border-bottom-width: 1px
		border-bottom-style: solid
		border-bottom-color: rgba(0,0,0,0.2)



// assume that this is called within the context of a normal div
@mixin hover-box
	
	// initialize styles for both of the div children
	> div
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 0
		background-color: orange		

		> h1
			position: absolute
			top: 1em
			@include center

	&:hover
		
		> div	
		// 	// put in some sort of transition here

		> div:first-of-type

			display: none

		> div:last-of-type

			display: block

		cursor: pointer
		img 

			display: none
	
	> div:first-of-type	

		// this is the image and the corresponding small header etc
		display: block

		> img

			position: absolute
			height: 100%
			width: 100%


	// initialize styles for the content page that is shown when we hover!
	> div:last-of-type

		// this is the last image element etc
		display: none
		> h1

			position: relative

		> p
			position: relative
