// set up fonts / typography etc
@import compass/css3

// load in our custom icon font here
// located in
+font-face("Icons", font-files("icons.eot", "icons.svg", "icons.ttf", "icons.woff"))

// load in google fonts
@import url("http://fonts.googleapis.com/css?family=Noto+Sans") 

// main page font
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700")
// secondary / header font etc ...
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:900")


// similar to letter press
@mixin letterpress($opacity, $color)

	// text-shadow: white($opacity) 0 1px 0

// control the size using the compass vertical rhythym
@mixin base_font($size: 1.0em)
	
	@include improve-text-rendering	
	color: rgba(255,255,255,0.9)
	font-size: $size
	font-family: 'Oswald', sans-serif	
	font-weight: 700
	
@mixin header_font($size: 2.9em)
	
	@include improve-text-rendering	
	@include base_font($size)
	// letter-spacing: 0.2em
	letter-spacing: 0em
	color: rgba(255,255,255,0.9)
	font-size: $size
	font-family: 'Titillium Web', sans-serif	
	text-transform: uppercase
	font-weight: 900
	color: white


// http://scottdavis.github.com/blog/2011/12/30/introduction-to-building-websites-using-susy-and-compass-vertical-rhythm/
@mixin anchor_font($size: 1em)
	
	// include special text rendering -- experimentary 
	@include improve-text-rendering
	color: rgba(36,36,36,0.9)
	font-size: $size
	// @include arial()
	font-family: 'Oswald', 'Noto Sans', sans-serif
	font-weight: 700
	// include a sans-serif font by default
	// @include sans-serif('Oswald Regular')
